$color-bg:          #152b46;
$color:             #fff;
$color-light:       rgba(255, 255, 255, 0.85);
$color-xlight:       rgba(255, 255, 255, 0.75);
$color-xxlight:       rgba(255, 255, 255, 0.55);
$color-xxxlight:       rgba(255, 255, 255, 0.35);
$color-xxxxlight:       rgba(255, 255, 255, 0.15);

$color-accent:      #FC505C;

$wrapper-gutter:    20;

$width-max:         1024;