// variables :
@import 'reset';
@import 'variables';
@import 'helpers';


body {
    font-family: 'Roboto',sans-serif;
    font-size:16px;
    color:$color;
    background-color: $color-bg;
    background: $color-bg radial-gradient(ellipse at top center,  #295489 0%,#152b46 75%) no-repeat;
    


}
#wrapper {
    margin:0px auto;
    width:#{$width-max}px;
    padding: #{$wrapper-gutter}px;
    
     /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

header {
    @extend .clearfix;
    
    
    margin: 30px 0 30px 0;
    padding-bottom:30px;
    border-bottom: 2px solid $color-xxxlight;
    h1#header-logo {
        @extend .text-xtight;
        font-size:42px;
        line-height:0.9em;     
        text-transform: uppercase;
        text-shadow: 1px 1px 2px #000;
        width: 250px;
    }        
    
    h3 {
        @extend .text-tight;
        font-size:16px;
        margin-bottom:0.67em;
        margin-left: 18px;
        
        i {
            color:$color-xxxlight;
            margin-right: 0.25em;
        }
    }
}

article {
    @extend .clearfix;
    
    //margin:50px 0;    
    p {
        display:block;
        color:$color-xlight;
        line-height: 1.6;
    }
    
    h2 {
        @extend .text-tight;
        
        padding: 0.67em 0;
        margin: 0.67em 0;
        border-bottom:1px solid $color-xxxxlight;
        font-size:22px;
        font-weight: normal;
        
        i {
            color: $color-accent;
            text-shadow: 0px 0px 1px rgba(0,0,0,0.8);
        }
    }
    
    h3 {
        font-size:18px;
        
    }
    
    .one-half {
        box-sizing: border-box;
        
        &.left {
            padding-right:18px;   
        }
        &.right {
            padding-left:18px;
        }
    }
    
    .year {
        color: $color-xxxlight;
    }
}

table#skills {
    width: 100%;
    td {
        padding:0.4em;
        vertical-align: middle;
        
        &.tech {
            @extend .text-right;
            width:25%;
            font-weight: bold;
        }
        
        &:nth-child(2n) {
            
        }
        
        .lvl-wrapper {
           font-size:0;
           height: 5px;
           background: $color-xxxxlight;
           span {
            transition: width 500ms ease-out;
           }
           .lvl {
                display: inline-block;
                background: $color-accent;
                height: 5px;
                width: 0%;
                
                
           }
        }
    }
    
    &.triggerAnimation {
        td {
          .lvl-wrapper {
            
            @for $i from 0 through 10 {
                .lvl-#{$i} { width: percentage($i/10);}
            }            
          }
        }
            
    }
}

footer {
    @extend .clearfix;
    
    border-top:1px solid $color-xxlight;
    margin:#{$wrapper-gutter}px 0 0 0;
    padding:12px;
    font-size:12px;
    color: $color-light;
}


a {
    color:$color-accent;
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;        
    }
}
h1, h2 {
    font-weight: bold;
    font-family: 'Montserrat';
    
}

@media screen and (max-width:#{$width-max}px) {
    #wrapper {
        width:100%;
        box-sizing:border-box;
    }
}

@media screen and (max-width: 768px) {
    
    header {
        h1,h2,h3 {
            text-align: center;
        }
        h1#header-logo {
            width: 100%;
        }
        
        .one-half {
            margin-bottom:1em;
        }
    }
    
    
    
    .one-half {
        float: none;
        width: 100%;
        
        &.left, &.right {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        
        &.text-right {
            text-align: left;
        }
        
    }
}
