/* =Reset
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

html {
  font-size: 62.5%;
  /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
  overflow-y: scroll;
  /* Keeps page centred in all browsers regardless of content height */
  -webkit-text-size-adjust: 100%;
  /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
  -ms-text-size-adjust: 100%;
  /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */ }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

ol, ul {
  list-style: none; }

table {
  /* tables still need 'cellspacing="0"' in the markup */
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  font-weight: normal;
  text-align: left; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a:focus {
  outline: thin dotted; }

a:hover,
a:active {
  /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
  outline: 0; }

a img {
  border: 0; }

/* grid : */
.one-half {
  float: left;
  width: 50%; }

/* helper classes */
.clear {
  clear: both; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-light {
  color: rgba(255, 255, 255, 0.85); }

.hero {
  font-size: 48px;
  font-weight: bold; }

.text-tight, header h3, article h2 {
  letter-spacing: -1px; }

.text-xtight, header h1#header-logo {
  letter-spacing: -2px; }

.clearfix:after, header:after, article:after, footer:after {
  content: "";
  display: table;
  clear: both; }

.floatright {
  float: right; }

.monospaced {
  font-family: 'Courier New',monospace; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

body {
  font-family: 'Roboto',sans-serif;
  font-size: 16px;
  color: #fff;
  background-color: #152b46;
  background: #152b46 radial-gradient(ellipse at top center, #295489 0%, #152b46 75%) no-repeat; }

#wrapper {
  margin: 0px auto;
  width: 1024px;
  padding: 20px;
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ }

header {
  margin: 30px 0 30px 0;
  padding-bottom: 30px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.35); }
  header h1#header-logo {
    font-size: 42px;
    line-height: 0.9em;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #000; }
  header h3 {
    font-size: 16px;
    margin-bottom: 0.67em; }
    header h3 i {
      color: rgba(255, 255, 255, 0.35);
      margin-right: 0.25em; }

article p {
  display: block;
  color: rgba(255, 255, 255, 0.75);
  line-height: 1.6; }
article h2 {
  padding: 0.67em 0;
  margin-bottom: 0.67em;
  color: #ea3f4b;
  border-bottom: 1px solid #ea3f4b;
  font-size: 22px;
  font-weight: normal; }
article h3 {
  font-size: 18px; }
article .one-half {
  box-sizing: border-box; }
  article .one-half:nth-child(2n+1) {
    padding-right: 1.67em; }
  article .one-half:nth-child(2n) {
    padding-left: 1.67em; }
article .year {
  color: rgba(255, 255, 255, 0.35); }

footer {
  border-top: 1px solid rgba(255, 255, 255, 0.55);
  margin: 20px 0 0 0;
  padding: 12px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.85); }

a {
  color: #ea3f4b;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h1, h2 {
  font-weight: bold;
  font-family: 'Montserrat'; }

i {
  vertical-align: middle; }

@media screen and (max-width: 1024px) {
  #wrapper {
    width: 100%;
    box-sizing: border-box; } }
@media screen and (max-width: 980px) {
  .one-half {
    float: none;
    width: 100%; }
    .one-half.text-right {
      text-align: left; } }

/*# sourceMappingURL=styles.css.map */
